<div id="slideshow">
  {% for item in site.data.carousel.images %}
  <div class="slideshow__image" style="background-image: url('{{ site.baseurl }}/{{ item.image }}');">
    <h1 class="slideshow__header">Learn. Code. Repeat.</h1>
  </div>
  {% endfor %}
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
  $(".slideshow__image:gt(0)").hide();

  setInterval(function () {
    $('.slideshow__image:first')
      .fadeOut(1000)
      .next()
      .fadeIn(1000)
      .end()
      .appendTo('#slideshow');
  }, 3000);
</script>