<div class="feature">
  <div class="feature__image">
    <img src="{{ site.baseurl }}/assets/images/home/features/community.JPG" />
  </div>
  <div class="feature__text">
    <h3>Community Driven</h3>
    <p>
      CAPSLOCK was created for students by students, to make sure it continues we encourage all members to
      be part of the community organization, lectures or even just being active on the community chat group.
    </p>
  </div>
</div>

<div class="feature">
  <div class="feature__text">
    <h3>Plug and Play</h3>
    <p>
      Joining the our developer community is 100% free, no fees or waiting lists, just come eat pizza and code
      away. We are also very aware of the students academic schedule and plan our event and projects accordingly.
    </p>
  </div>
  <div class="feature__image">
    <img src="{{ site.baseurl }}/assets/images/home/features/plugNplay.JPG" />
  </div>
</div>

<div class="feature">
  <div class="feature__image">
    <img src="{{ site.baseurl }}/assets/images/home/features/collaboration.JPG" />
  </div>
  <div class="feature__text">
    <h3>Collaboration at Core</h3>
    <p>
      We believe that teamwork is a key factor for success, it enables the students to overcome
      challenges that they may not have been able to individually without the help of others. We work hard to embrace
      teamwork and collaboration in our events and projects.
    </p>
  </div>
</div>