<div class="feature">
  <div class="feature__image">
    <img src="{{ site.baseurl }}assets/images/home/features/community.JPG" />
  </div>
  <div class="feature__text">
    <h3>Community Driven</h3>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Optio nulla iure necessitatibus vitae culpa est, vel id
      animi tempore numquam. Est ratione deleniti placeat dolores error consequatur natus sed obcaecati!
    </p>
  </div>
</div>

<div class="feature">
  <div class="feature__text">
    <h3>Plug and Play</h3>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Optio nulla iure necessitatibus vitae culpa est, vel id
      animi tempore numquam. Est ratione deleniti placeat dolores error consequatur natus sed obcaecati!
    </p>
  </div>
  <div class="feature__image">
    <img src="{{ site.baseurl }}assets/images/home/features/plugNplay.JPG" />
  </div>
</div>

<div class="feature">
  <div class="feature__image">
    <img src="{{ site.baseurl }}assets/images/home/features/collaboration.JPG" />
  </div>
  <div class="feature__text">
    <h3>Collaboration at Core</h3>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Optio nulla iure necessitatibus vitae culpa est, vel id
      animi tempore numquam. Est ratione deleniti placeat dolores error consequatur natus sed obcaecati!
    </p>
  </div>
</div>