{% for node in site.pages %}
  {% capture fullurl %}{{ site.baseurl }}{{ node.url }}{% endcapture %}
  {% if fullurl == page.url %}
    {% assign current_page = fullurl %}
    {% break %}
  {% elsif node.url == page.url %}
    {% assign current_page = fullurl %}
  {% elsif fullurl contains page.url %}
    {% assign current_page = page.url %}
  {% endif %}
{% endfor %}

<div class="navbar">
  <a class="in-bar" href="{{ site.baseurl }}/index.html">
    <img class="navbar__icon" src="{{ site.baseurl }}/assets/images/icon/white.png"
      onmouseover="this.src='{{ site.baseurl }}/assets/images/icon/black.png'"
      onmouseout="this.src='{{ site.baseurl }}/assets/images/icon/white.png'" />
  </a>
  <ul class="nav in-bar">
    {% assign sorted_pages = site.pages | sort:"order" %}
    {%- for page in sorted_pages -%}
    {% if page.nav-title != null %}
    <li class="nav__item">
      <a href="{{ page.url | relative_url }}"
        class="link {% if page.url == current_page %}active{% endif %}">
        a {{ page.nav-title }} current_page {{current_page}} pageurl {{page.url}} baseUrl {{site.baseurl}} nodeUrl {{node.url}}
      </a>
    </li>
    {%- endif -%}
    {%- endfor -%}
  </ul>
</div>