// typography
@font-face {
  font-family: "CAPSLOCK";
  src: url("../assets/fonts/CAPSLOCK.ttf");
}

$brand-font-family: "CAPSLOCK";

// Colors
$red: #ed3142;
$green: #10cfc8;
$black: #000;
$white: #fff;
