 <style>
        body{
            margin: 0%;
            display: flex;
            flex-direction: column;
            height: 100vh;
        }
         .big_picture{
         width: 100%;
         height: 55%;
     }
        .content{
            flex: 1 0 auto;
            padding: 20px;
        }
        footer {
            flex-shrink: 0;
            padding: 20 px;
            background-color: lightgrey;

        }
    </style>
<footer>
            <p>Posted by: yechiel sulzbacher</p>
            <p>Contact information: 
             <a href="mailto:yechielsul@gmail.com"> yechielsul@gmail.com</a>.
            </p>
    </footer>