---
layout: default
---

<!--- creating a rondom number--->
{% assign min = 1 %}
{% assign max = 3 %}
{% assign diff = max | minus: min %}
{% assign randomNumber = "now" | date: "%N" | modulo: diff | plus: min %}

{%- include header.html -%}
  <main class="page-content" aria-label="Content">
    <div class="wrapper">
      {{ content }}


  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
    <div class="post-list">
      {%- for post in site.posts -%}
      <!-- need to add backgound image -->
      <div class="card" >
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
          
            {{ post.description }}<!--need to add a limter-->>

        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </div>
      {%- endfor -%}
    </div>

    <!-- <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p> -->
  {%- endif -%}
</div>
</main>

</div>
