@mixin slidshow-size() {
  width: 100%;
  height: calc(100vh - 56px);
  @include respond(phone) {
    height: calc(60vh - 56px);
  }
}

#slideshow {
  @include slidshow-size();
}

.slideshow__image {
  @include slidshow-size();
  position: absolute;
  background-size: cover;
  background-position: center;
  justify-content: center;
  align-items: center;
  display: flex;
}

.slideshow__image .slideshow__header {
  color: white;
  text-shadow: black 0px 0px 10px;
  text-align: center;
}
