#slideshow {
  width: 100%;
  height: calc(100vh - 80px);
}

.slideshow__image {
  height: calc(100vh - 80px);
  width: 100%;
  position: absolute;
  background-size: cover;
  background-position: center;
  justify-content: center;
  align-items: center;
  display: flex;
}

.slideshow__image .slideshow__header {
  color: white;
  text-shadow: black 0px 0px 10px;
}