
.feature {
  max-width: 900px;
  margin: 0 auto;
  @include clearfix();
  
  &__image {
    width: 40%;
  }
  &__text {
    width: 60%;
  }
  
  div {
    padding: 48px 24px;
    float: left;
    box-sizing: border-box;
  }
}
