
.feature {
  max-width: 900px;
  margin: 0 auto;
  @include clearfix();
  
  &__image {
    width: 40%;
    img {
      border-radius: 5px;
    }

    @include respond(phone) {
      display: none;
    }
  }
  &__text {
    width: 60%;

    @include respond(phone) {
      width: 100%;
    }
  }
  
  div {
    padding: 48px 24px;
    float: left;
    box-sizing: border-box;

    @include respond(phone) {
      padding: 24px;
    }
  }
}
