.navbar {
  background-color: $red;
  @include respond(phone) {
    text-align: center;
  }
  &__icon {
    height: 42px;
    padding: 8px;
    margin: 8px 16px;

    @include respond(phone) {
      display: none;
    }
  }
}

.in-bar {
  display: inline-block;
}

.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  float: right;

  @include respond(phone) {
    float: none;
  }

  &__item {
    float: right;

    & .link {
      display: block;
      color: white;
      text-align: center;
      margin: 16px 24px;
      text-decoration: none;
      font-family: $brand-font-family, sans-serif;

      @include respond(phone) {
        margin: 16px;
      }

      &.active {
        border-bottom: 3px solid;
      }
      &:hover {
        color: $black;
      }
    }
  }
}
