---
layout: default
---
{%- include header.html -%}
<main class="page-content" aria-label="Content">
  <div class="wrapper">
    {{ content }}


    {%- if site.posts.size > 0 -%}
    <div class="post-list">
      {%- for post in site.posts -%}
      <div class="card">
        <a class="post-link" href="{{ post.url | relative_url }}">
          <h1>{{ post.title }}</h1>
          <h4>{{ post.description }}</h4>
          <img src="{{ site.baseurl }}{{post.thumbnail}}" />
        </a>
      </div>
      {%- endfor -%}
    </div>

    <!-- <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p> --!>
  {%- endif -%}
</div>
</main>

</div>